# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
*.swp
*~
\#*\#
.\#*

# pytest cache
.cache/
pytest_cache/

# SQLAlchemy migration directory
migrations/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables file
.env

# Virtual Environment
venv/

# Local development configuration
config.yaml
